<turbo-frame id="car_form">
  <% flash.each do |key, message| %>
    <div class="flash <%= key %>"><%= message %></div>
  <% end %>
  <h1>New Car</h1>
  <%= render 'form', car: @car %>
</turbo-frame>
<%= link_to 'Back', cars_path %>
